:root{
    --black:#454545;
    --blue:#FFA559;
    --orange:#FF6000;
    --beige:#FFE6C7;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



nav{
    background-color: var(--black);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    
}

#button{
    height: 100px;
    width: 100px;
    margin: 0;
}

#lines{
    height:100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap:15px;
}

.line{
    background-color: var(--beige);
    width: 80px;
    height: 8px;
    list-style-type: none;
    border-radius: 5px;
}

#headerSTEAM a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    border:0;
    color: var(--beige);
    font-size: 60px;
    transition-duration: 0.5s;
    font-weight: 900;
}

#headerSTEAM a:hover{
    color: var(--blue);
    font-size: 70px;
}


#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:89.4vh;
    background-repeat: no-repeat;
    background-image: url("/images/mirror.jpg");
    background-size: cover;
}

#hero a{
    text-decoration: none;
}

#hero h1{
    font-size: 100px;
    color: var(--beige);
}

#menu{
    position: absolute;
    top:100px;
    left:0px;
    height:89.4vh;
    width: 400px;
    background-color: var(--black);
    transition: 0.5s;
    border-top: solid 3px #2e2e2e;
    border-right: solid 3px #2e2e2e;
}




.link{
    font-size: 35px;
}

.link a{
    text-decoration: none;
    color:var(--beige);
    transition-duration: 0.5s;
}

.link a:hover{
    color: var(--blue);
    font-size: 45px;
}

.link:hover{
    color:var(--blue)
}

#links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}   

.sectionLine{
    height: 2px;
    width: 90%;
    background-color: #2e2e2e;
    border-radius: 10px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    height: 100vh;
    padding: 20px;
    background-color: var(--black);
    color: var(--beige);
}

#main h1{
    font-size: 50px;
    padding: 20px;
    color: var(--orange);
    text-decoration: underline;
}

#profDetails h2{
    font-size: 45px;
    padding: 20px;
    color: var(--blue);
    font-weight: 400;
}

#profDetails span{
    color: var(--beige);
    font-weight: 400;
}

#disciplinaDetails{
    padding: 20px;
}
#disciplinaDetails h2{
    font-size: 35px;
    color: var(--blue);
    font-weight: 400;
}

#disciplinaDetails span{
    color: var(--beige);
    font-weight: 400;

}

#tipulDetails{
    padding: 20px;
}

#tipulDetails h2{
    font-size: 35px;
    color: var(--blue);
    font-weight: 400;
}

#tipulDetails span{
    color: var(--beige);
    font-weight: 400;
}

#otherDetails{
    padding: 20px;
}

#otherDetails h2{
    font-size: 35px;
    color: var(--blue);
    font-weight: 400;
}

#otherDetails span{
    color: var(--beige);
    font-weight: 400;
}

#otherDetails ul,h3{
    list-style-type:square;
    color: #f887419a;
}

#heroStiinta{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-color: #6c6e52;
}

#heroStiinta a{
    text-decoration: none;
}

#heroStiinta h1{
    color: var(--beige);
    font-size: 70px;
}

#mainStiinta{
    min-height: 100vh;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
    align-items: center;
    
}

#cuprins{
    font-size: 30px;
    width: 1000px;
    height: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #2e2e2e;
    gap: 70px;
    border-radius: 5px;
    color: var(--beige);
}

#cuprins h1{
    font-size: 80px;
    color: var(--orange);
}

#cuprinsList{
    display: block;
    flex-direction: row;
}

.indent{
    margin-left: 20px;
}

.history{
    height: 700px;
    width: 1000px;
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--beige);
    border-radius: 5px;
}

.historyText{
    width: 45%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    margin-left: 30px;
}

.historyContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.historyImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    justify-content: center;
    gap: 10px;
}
.historyImg img{
    height: 150px;
    object-fit: cover;
    border-radius: 3px;
}

.history h1{
    font-size: 60px;
    margin-bottom: 30px;
    color: var(--orange);
}

.historyImg1{
    display: gird;
    grid-template-columns: repeat(2,1fr);
    height: 500px;
    width: 550px;

}

.historyImg1 img{
    width: 225px;
    
    object-fit: cover;
}

.slide{
    height: 700px;
    width: 1000px;
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--beige);
}

.slide span{
    color: var(--orange);
}

.slideConent{
   display: flex;
   flex-direction: row;
   gap: 20px;
   width: 800px;
   height: 600px;
}

.slideText{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    gap: 20px;
    width: 500px;
}

.slide h1{
    font-size: 60px;
    color: var(--orange);
    padding: 30px;
}

.slideSideContent h1{
    font-size: 30px;
    padding:3px;
}

.slideSideContent img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.slideSideContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    gap: 5px;
}


.slideText img{
    width: 300px;
    object-fit: cover;
    border-radius: 5px;
}

#slideContentTweak{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slideContentTweak a{
    text-decoration: none;
    color: var(--blue);
    font-size: 20px;
}

#slideContentTweak p{
    font-size:24px;
}

.slideConent a{
    text-decoration: none;
    color: var(--orange);
}

#mainMatematica{
    min-height: 100vh;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
    align-items: center;
}

#heroMatematica{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-color: #6e5252;
}

#heroMatematica a{
    text-decoration: none;
}

#heroMatematica h1{
    color: var(--beige);
    font-size: 70px;
}

#sfarsit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slideGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.slideGrid img{
    width: 300px;
    border-radius: 5px;
}

#mainIngineria{
    min-height: 100vh;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
    align-items: center;
}

#heroIngineria{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-color: #63526e;
}

#heroIngineria a{
    text-decoration: none;
}

#heroIngineria h1{
    color: var(--beige);
    font-size: 70px;
}